[data-component] {
    --gap: 5px 5px;
    --bg-light: #fff;
    --space: 10px 6px;
    --border: 1px solid #e9e9e9;
    --grid-template-columns:2fr 6px 3fr;
    --drag-handle-bg: #e9e9e9;
    --drag-handle-width: 6px;
    --demo-height: 300px; /*For demo only*/
  }

  [data-component] {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--gap);
    margin: 0;
    padding: 0;
    min-height: var(--demo-height);
    overflow-x: hidden;
  }
  
  [data-view] {
    background: var(--bg-light);
  }
  [data-view]:first-child{
    padding: var(--space);
  }
  
  [data-view-content]{
      background: var(--bg);
  }
  
  [data-layout]{
      width: 100%;
      margin: 0;
  }
  
  [data-menu] {
    width: 100%;
    border-bottom: var(--border);
  }

  [data-handle]{
      width: var(--drag-handle-width);
  }

  [data-handle]:hover, [data-handle]:active{
    background-color: var(--drag-handle-bg);
    cursor: ew-resize;
  }

  [data-view] div{
    padding: var(--space);/*For demo only*/
  }


